@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap");
body,
html {
  padding: 0;
  margin: 0;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-background {
  /* background-color: #115c8a; */
  background-color: whitesmoke;
}
nav {
  z-index: 100;
  top: 0;
  right: 0;
  position: fixed;
  opacity: 0.9;
  background-color: rgb(31, 30, 30);
  color: var(--white);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 100%;
  font-size: 1.5em;
  cursor: pointer;
  background: linear-gradient(to right, white, white 50%, gray 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.5s;
}
a:hover {
  background-position: 0 100%;
  opacity: 1;
}

footer {
  background-color: rgb(31, 30, 30);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px 10px;
}

footer span {
  margin: 10px 0;
  opacity: 0.6;
}
.social-links i {
  font-size: 35px;
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.5s;
  margin: 10px 10px;
}
.social-links i:hover {
  color: #46b5d1;
}

.home-section {
  background-color: black;
  text-align: center;
  padding: 25px;
  margin-top: 50px;
}
.home-section h2 {
  margin: 0;
  font-family: "Dancing Script", cursive;
  font-size: 3em;
  font-weight: 200;
}

.slide-container {
  padding: 15px 15px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.slide-info {
  width: 50%;
  text-align: justify;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  font-family: "Zen Old Mincho", serif;
  z-index: 100;
}
.bottom-center {
  align-items: center;
  justify-content: flex-end;
}
.slide-info.bottom-center h3 {
  color: #f5f5f5;
  font-size: 80px;
  margin-bottom: 40px;
}
.slide-info h3 {
  font-size: 40px;
  margin: 0;
}

.slide-info span {
  font-size: 20px;
  padding-left: 30px;
}
.slide-image {
  border-radius: 50%;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
}
.titles {
  margin: 0;
  padding-top: 10%;
  font-size: 90px;
  color: black;
  text-shadow: 1px 1px 10px #115c8a;
  text-align: center;
  font-family: "Dancing Script", cursive;
}
.banner-container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.text-section {
  position: relative;
  text-align: justify;
  font-family: "Zen Old Mincho", serif;
  font-size: 20px;
  width: 80%;
  height: max-content;
  /* background-color: #f5f5f5; */
  margin: 20px auto;
  padding: 10px;
  /* border-radius: 10px; */
  /* box-shadow: 1px 2px 5px black; */
}

.book-now-wrapper {
  width: 100%;
  height: 5vh;
}
.text-section.routesID a {
  background: #115c8a;
  text-align: center;
  width: 15%;
  bottom: 5px;
  padding: 15px 0;
  text-decoration: none;
  color: #f5f5f5;
  border-radius: 10px;
  transition: all 1s;
}
.text-section.routesID a:hover {
  background-color: rgb(19, 18, 18);
}

span.price {
  display: flex;
  justify-content: right;
  color: #115c8a;
  font-weight: bolder;
  font-style: italic;
  font-size: 20px;
  /* text-shadow: 0.5px 0.5px 1px black; */
}
div#bookings {
  width: 70%;
}

.text-section.covid {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: url(../public/parallax-bg.jpg);
  background-position: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: white;
}
span.swiper-pagination-bullet {
  background-color: whitesmoke;
}

.swiper-slide .text {
  font-size: 25px;
  max-width: 60%;
}
.swiper-slide .text a {
  color: black;
  transition: color 0.5s;
}
.swiper-slide .text a:hover {
  color: #115c8a;
}
.signature {
  font-family: "Imperial Script", cursive;
  font-size: 40px;
  text-shadow: 0.2px 0.05px 2px black;
  text-align: right;
}
