@import url("https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap");

.galleryWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #03033a;
  height: 100vh;
}
.galleryContainer {
  margin: 10px;
  background-color: whitesmoke;
  padding: 10px;
  position: relative;
}
.galleryRow {
  display: flex;
}
.galleryImage {
  padding: 3px !important;
}
.galleryTitle {
  font-family: "Zen Old Mincho", serif;
  position: absolute;
  z-index: 100;
  background-color: #f5f5f5;
  padding: 50px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 30%;
  text-align: center;
  width: 30%;
  transition: all 0.5s;
}
.galleryTitle:hover {
  color: #f5f5f5;
  background-color: #03033a;
}
.slideWrapper {
  padding: 15px;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideCards {
  box-shadow: 1px 1px 5px #f5f5f5;
  padding: 10px;
  margin: auto;
  background-color: #f5f5f5;
  width: 30%;
  text-align: justify;
}
.slideCards h4 {
  font-weight: 100;
  text-align: center;
  font-family: "Zen Old Mincho", serif;
  font-size: 20px;
  margin: 0;
  cursor: pointer;
  text-decoration: underline;
}
