@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap");

.bookingFrm {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}
.frmRow {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
.frmItems {
  width: 70%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 10px;
}
.frmItems input {
  width: 80% !important  ;
  padding: 10px;
  margin: 10px;
  transition: all 1s;
  border: none;
  border-bottom: 2px solid black;
  opacity: 0.7;
  font-size: 15px;
  outline: none;
  background-color: transparent;
}
.frmItems input:hover {
  border-bottom: 2px solid #115c8a;
  opacity: 1;
}
.frmItems select {
  width: 90%;
  padding: 10px;
  margin: 10px;
  transition: all 1s;
  border: none;
  border-bottom: 2px solid black;
  opacity: 0.7;
  font-size: 15px;
  background-color: transparent;
}
.frmItems select:hover {
  border-bottom: 2px solid #115c8a;
  outline: none;
  opacity: 1;
}
.frmItems label {
  font-size: 18px;
}
.btnConfirm {
  padding: 10px;
  font-size: 15px;
  width: 40%;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: whitesmoke;
  transition: all 0.5s;
  opacity: 0.7;
  font-size: 30px;
  background-color: #115c8a;
  font-family: "Dancing Script", cursive;
}
.btnConfirm:hover {
  opacity: 1;
}
a.btnBuild {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  padding: 0;
  background-color: none !important;
}
.checkboxContainer input {
  width: fit-content !important;
}
.txtArea {
  display: flex;
  flex-direction: column;
}
.txtArea label {
  font-size: 18px;
}
.txtArea input {
  padding: 10px;
  margin: 10px;
  transition: all 1s;
  border: none;
  border-bottom: 2px solid black;
  opacity: 0.7;
  font-size: 15px;
  background-color: transparent;
  outline: none;
}
.txtArea input:hover {
  border-bottom: 2px solid #115c8a;
  opacity: 1;
}
@media all and (max-width: 968px) {
  .frmRow {
    width: 100%;
    flex-direction: column;
  }
  .frmItems {
    width: 100%;
  }
  .frmItems input {
    width: 90% !important;
  }
  .frmItems select {
    width: 96% !important;
  }
  .checkboxContainer input {
    width: fit-content !important;
  }
  .btnConfirm {
    width: 55%;
    padding: 15px;
  }
  .txtArea {
    width: 100%;
    justify-content: center;
    align-items: baseline;
    margin: 10px;
  }
  .txtArea input {
    width: 90%;
  }
}
