@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
body,
html {
  padding: 0;
  margin: 0;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-background {
  /* background-color: #115c8a; */
  background-color: whitesmoke;
}
/* Menu */
nav {
  background-color: #0e0e0e;
  width: 100%;
}
nav::after {
  content: "";
  clear: both;
  display: table;
}

nav .logo h4 {
  float: left;
  font-size: 30px;
  color: whitesmoke;
  margin: 15px 0 0 25px;
  font-family: "Zen Old Mincho", serif;
}

nav ul {
  float: right;
  list-style: none;
  margin: 0 40px 0 0;
  position: relative;
}
nav ul li {
  display: inline-block;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  line-height: 70px;
  font-size: 25px;
  padding: 8px 15px;
  opacity: 0.8;
}
nav ul li a:hover {
  opacity: 1;
}
nav ul ul {
  z-index: 1000;
  position: absolute;
  top: 90px;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
}
nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li {
  position: relative;
  background-color: #0e0e0e;
  margin: 0px;
  width: 120px;
  float: none;
  display: list-item;
  border-bottom: 1px solid whitesmoke;
}
nav ul ul li a {
  font-size: 18px;
  line-height: 50px;
}
/* Menu Responsive */

.show,
.icon,
nav input {
  display: none;
}

@media all and (max-width: 968px) {
  /* body {
    overflow-x: hidden;
  } */
  nav {
    padding: 15px;
  }
  nav ul {
    margin-right: 0px;
    float: left;
    width: 100%;
  }
  nav .logo {
    padding-left: 30px;
    width: 100%;
  }
  nav .logo h4 {
    font-size: 30px;
    margin: 0;
  }
  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }
  nav ul ul {
    top: 70px;
    position: static;
    border-top: none;
    float: none;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a {
    padding-left: 40px;
  }
  .show {
    display: block;
    color: white;
    font-size: 25px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
    opacity: 0.8;
  }
  .show:hover {
    opacity: 1;
  }
  .icon {
    display: block;
    color: whitesmoke;
    position: absolute;
    top: 10px;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
  }
  .show + a,
  ul {
    display: none;
  }
  [id^="btn"]:checked + ul {
    display: block;
  }
}
@media all and (max-width: 480px) {
  nav {
    overflow-x: hidden;
    padding: 25px 0;
  }
  nav .logo h4 {
    font-size: 25px;
  }
  .icon {
    top: 10px;
  }
}
/* ----------------- */
/* Footer */
footer {
  background-color: #0e0e0e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

footer span {
  margin: 10px 0;
  opacity: 0.6;
}
.social-links i {
  font-size: 35px;
  transition-property: color;
  transition-duration: 0.5s;
  margin: 10px 10px;
  color: #f5f5f5;
}

.social-links a i:hover {
  color: #46b5d1;
}

/* End footer */
/* Home Section */
.title-parallax {
  position: absolute;
  z-index: 100;
  bottom: 0;
  color: whitesmoke;
  width: 100%;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 90px;
  text-shadow: 0 0 10px #0e0e0e;
}
.slide-container {
  padding: 15px 15px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.slide-info {
  width: 50%;
  text-align: justify;
  height: 100vh;
  align-items: flex-start;
  position: relative;
  font-family: "Open Sans", sans-serif;
  z-index: 100;
}
.bottom-center {
  align-items: center;
  justify-content: flex-end;
}
.slide-info.bottom-center h3 {
  color: #f5f5f5;
  font-size: 80px;
  margin-bottom: 40px;
}
.slide-info h3 {
  font-size: 40px;
  margin: 0;
}

.slide-info span {
  font-size: 20px;
  padding-left: 30px;
}
@media all and (max-width: 480px) {
  .slide-info span {
    font-size: 15px;
  }
}
.slide-image {
  border-radius: 50%;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
}
.route-slider-conntainer {
  position: relative;
}
@media all and (max-width: 968px) {
  body {
    overflow-x: hidden;
  }
  .slide-container {
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
  }
  .slide-info {
    justify-content: flex-start;
    height: fit-content;
  }
  .slide-info h3 {
    font-size: 25px;
  }
  /* swiper in dynamic routes */
  .route-slider {
    height: 80vh !important;
    justify-content: flex-start;
  }
  .route-slider .slide-container {
    height: 100%;
    margin: 0;
  }
  .title-parallax {
    bottom: 5%;
    font-size: 60px;
  }
  /* end dynamic routes */
}
.titles {
  margin: 0;
  padding-top: 10%;
  font-size: 90px;
  color: #0e0e0e;
  text-shadow: 1px 1px 10px #115c8a;
  text-align: center;
  font-family: "Dancing Script", cursive;
}
@media all and (max-width: 480px) {
  .titles {
    font-size: 65px;
  }
  .title-parallax {
    font-size: 50px;
  }
  .route-slider {
    height: 50vh !important;
  }
  .text-section.tours,
  .text-section.activity {
    font-size: 18px;
  }
}
.banner-container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.text-section {
  position: relative;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  width: 80%;
  height: max-content;
  margin: 20px auto;
  padding: 10px;
}
/* End Home Section */

.book-now-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
a.btnBook {
  background: #115c8a;
  text-align: center;
  width: 20%;
  bottom: 5px;
  padding: 15px 0;
  text-decoration: none;
  color: #f5f5f5;
  border-radius: 10px;
  transition: all 1s;
}
a.btnBook:hover {
  background-color: rgb(19, 18, 18);
}

.text-section.tours,
.text-section.activity {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
}
span.price {
  display: flex;
  justify-content: right;
  color: #115c8a;
  font-weight: bolder;
  font-style: italic;
  font-size: 18px;
  margin: 10px;
}
.route-container {
  margin: 20px;
  position: relative;
  text-align: center;
}
.route-container .route-text {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}
.map-icon {
  color: #03033a;
  float: right;
  transition: color 0.5s;
}
.map-icon:hover {
  color: #d8c6ac;
}
@media all and (max-width: 968px) {
  .text-section.tours,
  .text-section.activity {
    flex-direction: column;
  }
  .map-icon {
    font-size: 80px;
    float: left;
  }
  a.btnBook {
    width: 30%;
  }
  .items-list {
    display: block;
  }
  .route-container .route-text {
    font-size: 15px;
    display: none;
  }
}
@media all and (max-width: 480px) {
  a.btnBook {
    width: 50%;
  }
}
.bookings {
  width: 70%;
}
@media all and (max-width: 480px) {
  .bookings {
    width: 90%;
  }
  .text-section {
    width: 90%;
  }
}

.text-section.covid {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: url(../public/parallax-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.parallax-overlay {
  background-color: #115c8a;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0.2;
}
.logo-about {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}
.text-section.about-us {
  width: 60%;
}
@media all and (max-width: 480px) {
  .logo-about-img {
    visibility: hidden;
  }
}
/* align logo to right in about us */
.swiper {
  width: 100%;
  height: 100%;
}
.text-section.covid .swiper {
  width: 90%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: white;
}
.home-swiper .swiper-button-prev::after,
.home-swiper .swiper-button-next::after {
  color: black;
}
span.swiper-pagination-bullet {
  background-color: whitesmoke;
}

.swiper-slide .text {
  background-color: whitesmoke;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  font-size: 20px;
  max-width: 60%;
  font-family: "Open Sans", sans-serif;
  opacity: 0.8;
}
.swiper-slide .titles {
  color: whitesmoke;
}
.swiper-slide .text a {
  color: #0e0e0e;
  transition: color 0.5s;
}
.swiper-slide .text a:hover {
  color: #115c8a;
}
.signature-wrapper {
  background-image: url(../public/about-bg.svg);
  background-size: cover;
  background-position: center;
}
.signature-content {
  padding-right: 5%;
}
.signature {
  font-family: "Imperial Script", cursive;
  font-size: 40px;
  text-shadow: 0 0 10px #115c8a;
  color: whitesmoke;
  text-align: right;
  margin: 0;
}
@media all and (max-width: 968px) {
  .covid-swiper .swiper-slide .text {
    font-size: 20px;
  }
  .covid-swiper .swiper-slide .titles {
    font-size: 60px;
  }
}
@media all and (max-width: 480px) {
  .covid-swiper .swiper-slide .text {
    font-size: 18px;
  }
  .covid-swiper .swiper-slide .titles {
    font-size: 55px;
  }
}

.loader-container {
  height: 100vh;
  position: relative;
}
.loader-container h3 {
  font-family: "Dancing Script", cursive;
  font-size: 60px;
}
.not-found {
  height: 80vh;
}
.not-found-msg {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.not-found h3 {
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  margin-left: 20px;
}
.not-found a {
  font-size: 30px;
  text-decoration: none;
  background-color: #0e0e0e;
  color: whitesmoke;
  padding: 15px;
  border-radius: 10px;
  font-family: "Zen Old Mincho", serif;
}
@media all and (max-width: 480px) {
  .loader-container h3 {
    font-size: 45px;
    text-align: center;
  }
  .loader-container {
    height: 80vh;
  }
}
