@import url("https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap");
.galleryWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  height: 100vh;
}

.galleryContainer {
  margin: 10px;
  background-color: whitesmoke;
  padding: 10px;
  position: relative;
  box-shadow: 0 0 10px #115c8a;
  border-radius: 20px;
}
.galleryRow {
  display: flex;
}
.galleryImage {
  padding: 3px !important;
}
.galleryTitle {
  font-family: "Zen Old Mincho", serif;
  position: absolute;
  z-index: 100;
  background-color: #f5f5f5;
  padding: 50px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 30%;
  text-align: center;
  width: 30%;
  transition: all 0.5s;
}
.galleryTitle:hover {
  color: #f5f5f5;
  background-color: #115c8a;
}
.slideWrapper {
  padding: 15px;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideCards {
  box-shadow: 0 0 5px #115c8a;
  padding: 10px;
  margin: auto;
  background-color: #f5f5f5;
  width: 30%;
  height: 448px;
  text-align: justify;
  border-radius: 10px;
}
.slideImg {
  transition: all 0.5s;
}
.slideImg:hover {
  transform: scale(1.2);
}
.slideCards h4 {
  font-weight: bold;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  margin: 0;
  cursor: pointer;
  transition: color 0.5s;
}
.slideCards h4:hover {
  color: #115c8a;
}
.slideCards a {
  color: black;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  font-family: "Dancing Script", cursive;
  transition: color 0.5s;
}
.slideCards a:hover {
  color: #115c8a;
}

@media all and (max-width: 968px) {
  .galleryWrapper {
    flex-direction: column;
    position: relative;
    height: 130vh;
    justify-content: flex-start;
  }
  .galleryContainer {
    width: 80%;
  }
  .galleryTitle {
    font-size: 22px;
  }
  .slideWrapper {
    flex-direction: column;
    height: 250vh;
  }
  .slideCards {
    width: 70%;
    margin: 10px;
    position: relative;
  }
  .slideCards h4 {
    margin-top: 15px;
    font-size: 35px;
  }
}
@media all and (max-width: 480px) {
  .galleryWrapper {
    height: 80vh;
    justify-content: space-evenly;
  }
  .galleryTitle {
    top: 10%;
    padding: 40px;
  }
  .slideWrapper {
    justify-content: space-evenly;
    height: fit-content !important;
  }
  .slideCards {
    width: 90%;
  }
}
